GATEWAY_DOMAIN = 'yourappid\.appspotmail\.com'
RECIPIENT = 'Your Name <youremail@example.com>'
TWILIO_ACCOUNT = 'xxx'
TWILIO_TOKEN = 'xxx'
SEND_SMS_ENABLED = False
SMS_PHONE_NUMBER = '+1 773-555-1234'

